#home-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh auto 50vh 25vh;
    grid-template-areas: "home-buttons"
                         "."
                         "main-section"
                         "bottom-section" ;
}

header > nav {
    grid-area: home-buttons;
    @media screen and (max-width:768px) {
        background-color: blur(10px);
    }

}

section {
    grid-area: main-section;
    align-items: center;
}

footer {
    grid-area: bottom-section;
}

nav{
    display: grid;
    grid-template: [row-start] 15vh [row-end]/ 90vw 10vw;
    @media screen and(max-width:1350px){
        grid-template: [row-start] 15vh [row-end]/ 80vw 20vw;
    }
}